/* NAV */
.nav {
    background-color: rgb(253, 252, 252);
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    position: relative;
    z-index: 100;
    border-radius: 0 0 200px 200px;
    transition: 0.2s ease;
}

.nav > .header {
    font-size: 30px;
    align-items: center;
}

.nav > .header > .tab {
    margin: 15px;
    cursor: pointer;
    height: 3rem;
    width: 9rem;
    position: relative;
}
.tab::before, .tab::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border: 3px solid black;
    transition: 0.5s ease;
}
.tab::before {
    left: -10px;
    top: -10px;
    border-width: 3px 0 0 3px;
}
.tab::after {
    right: -10px;
    bottom: -10px;
    border-width: 0 3px 3px 0;
}
.tab:hover::before, .tab:hover::after {
    width: calc(100% + 17px);
    height: calc(100% + 17px);
}

.subnav {
    background-color: rgb(253, 252, 252);
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 75%;
    position: relative;
    z-index: 100;
    border-radius: 0 0 200px 200px;
    transition: 0.2s ease;
}

.subheader {
    font-size: 30px;
    align-items: center;
}

.subtab {
    cursor: pointer;
    height: 3rem;
    width: 9rem;
    position: relative;
}

/* FOOTER */
.footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-size: 20px;
    transition: 0.5s ease;
    position: relative;
}
.footer > .space {
    margin: 0 100px;
}
.goto {
    color: white;
    border-radius: 100%;
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
}
.goto:hover {
    transition: 1.3s ease;
    background-color: white;
    color: black;
}