@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --foreground2: rgb(128, 128, 128);
  --primary-foreground: rgb(255, 255, 255);
  --secondary-foreground: rgb(128, 128, 128);
}

body {
  font-family: 'Roboto Mono', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
