@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ffffff;
  --foreground2: rgb(128, 128, 128);
  --primary-foreground: rgb(255, 255, 255);
  --secondary-foreground: rgb(128, 128, 128);
}

body {
  font-family: 'Roboto Mono', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.pageSection {
  transform: translateY(40px) scale(0.75);
  animation: fadeIn 0.9s ease-in forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(40px) scale(0.75);
  }

  to {
      opacity: 1;
      transform: translateY(0) scale(1);
  }
}