/* NAV */
.nav {
    background-color: rgb(15, 15, 15);
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    position: relative;
    z-index: 100;
    transition: 0.2s ease;
}
.nav:hover {
    transform: scale(1.05);
    box-shadow: red 0 5px 15px;
}
.nav > .header {
    font-size: 30px;
    align-items: center;
}
.nav > .header > .tab {
    margin: 15px;
    cursor: pointer;
    height: 3rem;
    width: 9rem;
    position: relative;
    color: darkred;
    transition: 0.5s ease;
}

.nav > .header > .tab:hover {
    color: red;
}

.tab::before, .tab::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    color: darkred;
    border: 3px solid darkred;
    transition: 0.5s ease;
}
.tab::before {
    left: -10px;
    top: -10px;
    border-width: 3px 0 0 3px;
}
.tab::after {
    right: -10px;
    bottom: -10px;
    border-width: 0 3px 3px 0;
}
.tab:hover::before, .tab:hover::after {
    width: calc(100% + 17px);
    height: calc(100% + 17px);
    border-color: red;
}

/* FOOTER */
.footer {
    background-color: rgb(15, 15, 15);
    color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-size: 20px;
    transition: 0.5s ease;
    position: relative;
}
.footer:hover {
    transform: scale(1.05);
    box-shadow: red 5px 0px 15px;
}
.footer > .space {
    margin: 0 100px;
}
.goto {
    border-radius: 100%;
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
}

/* HERO */
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 750px;
}

/* CARDS */
.cardHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

/* CARD */
.bigCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    max-width: 800px;
    min-width: 400px;
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px;
    overflow: hidden;
    font-size: 20px;
    transition: 0.15s ease;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}
.bigCard:hover {
    transform: scale(1.3);
    box-shadow: red 0 5px 15px;
}