/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono');

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.13 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 4 */
  font-feature-settings: normal; /* 5 */
  font-variation-settings: normal; /* 6 */
  -webkit-tap-highlight-color: transparent; /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-feature-settings: normal; /* 2 */
  font-variation-settings: normal; /* 3 */
  font-size: 1em; /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-feature-settings: inherit; /* 1 */
  font-variation-settings: inherit; /* 1 */
  font-size: 100%; /* 1 */
  font-weight: inherit; /* 1 */
  line-height: inherit; /* 1 */
  letter-spacing: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}
.absolute{
  position: absolute;
}
.relative{
  position: relative;
}
.top-0{
  top: 0px;
}
.z-10{
  z-index: 10;
}
.z-20{
  z-index: 20;
}
.flex{
  display: flex;
}
.hidden{
  display: none;
}
.h-16{
  height: 4rem;
}
.h-full{
  height: 100%;
}
.h-screen{
  height: 100vh;
}
.w-full{
  width: 100%;
}
.flex-grow{
  flex-grow: 1;
}
.transform{
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.flex-row{
  flex-direction: row;
}
.flex-col{
  flex-direction: column;
}
.flex-wrap{
  flex-wrap: wrap;
}
.items-center{
  align-items: center;
}
.justify-center{
  justify-content: center;
}
.justify-around{
  justify-content: space-around;
}
.text-center{
  text-align: center;
}
.font-bold{
  font-weight: 700;
}
.antialiased{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  --foreground2: rgb(128, 128, 128);
}

html {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Roboto Mono', sans-serif;
  width: 50%;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"app/layout.jsx","import":"","arguments":[{"src":"./fonts/GeistVF.woff","variable":"--font-geist-sans","weight":"100 900"}],"variableName":"geistSans"} ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: 'geistSans';
src: url(/_next/static/media/4473ecc91f70f139-s.p.woff) format('woff');
font-display: swap;
font-weight: 100 900;
}@font-face {font-family: 'geistSans Fallback';src: local("Arial");ascent-override: 85.83%;descent-override: 20.52%;line-gap-override: 9.33%;size-adjust: 107.19%
}.__className_1e4310 {font-family: 'geistSans', 'geistSans Fallback'
}.__variable_1e4310 {--font-geist-sans: 'geistSans', 'geistSans Fallback'
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"app/layout.jsx","import":"","arguments":[{"src":"./fonts/GeistMonoVF.woff","variable":"--font-geist-mono","weight":"100 900"}],"variableName":"geistMono"} ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: 'geistMono';
src: url(/_next/static/media/463dafcda517f24f-s.p.woff) format('woff');
font-display: swap;
font-weight: 100 900;
}@font-face {font-family: 'geistMono Fallback';src: local("Arial");ascent-override: 69.97%;descent-override: 16.73%;line-gap-override: 7.61%;size-adjust: 131.49%
}.__className_c3aa02 {font-family: 'geistMono', 'geistMono Fallback'
}.__variable_c3aa02 {--font-geist-mono: 'geistMono', 'geistMono Fallback'
}

/*!**********************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./app/scss.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************/
/* Slash Extension CSS Shortcuts 1.2.5  PUBLIC | MIT 3.0 */
/* HTML, JavaScript, and React Friendly */

/* Flex */
.flex {display: flex;}
/* Grid */
.grid {display: grid;}
/* Justify Content */
.justifyCenter {justify-content: center;}
.justifyBetween {justify-content: space-between;}.justifyAround {justify-content: space-around;}.justifyEvenly {justify-content: space-evenly;}
.justifyStart {justify-content: flex-start;}.justifyEnd {justify-content: flex-end;}
.justifyInitial {justify-content: initial;}.justifyStretch {justify-content: stretch;}
/* Align Content */
.aligncCenter {align-content: center;}
.aligncBetween {align-content: space-between;}.aligncAround {align-content: space-around;}.alignc-evenly {align-content: space-evenly;}
.aligncStart {align-content: flex-start;}.aligncEnd {align-content: flex-end;}
.aligncInitial {align-content: initial;}.aligncStretch {align-content: stretch;}
/* Justify Items */
.justifyiCenter {justify-items: center;}.justifyiStart {justify-items: flex-start;}.justifyiEnd {justify-items: flex-end;}
.justifyiStretch {justify-items: stretch;}.justifyiBaseline {justify-items: baseline;}.justifyiInitial {justify-items: initial;}
/* Align Items */
.alignCenter {align-items: center;}.alignStart {align-items: flex-start;}.alignEnd {align-items: flex-end;}
.alignStretch {align-items: stretch;}.alignBaseline {align-items: baseline;}.alignInitial {align-items: initial;}
/* Justify Self */
.justifysCenter {justify-self: center;}.justifysStart {justify-self: flex-start;}.justifysEnd {justify-self: flex-end;}
.justifysStretch {justify-self: stretch;}.justifysAuto {justify-self: auto;}.justifysBaseline {justify-self: baseline;}
.justifysInitial {justify-self: initial;}
/* Flex Wrap */
.flexWrap {flex-wrap: wrap;}
.flexNowrap {flex-wrap: nowrap;}
/* Flex Direction */
.flexRow {flex-direction: row;}
.flexColumn {flex-direction: column;}

/* Float */
.floatLeft {float: left;}
.floatRight {float: right;}
.floatStart {float: inline-start;}
.floatEnd {float: inline-end;}
.floatNone {float: none;}

/* Display */
.block {display: block;}
.none {display: none;}
.inline {display: inline;}

/* Position */
.relative {position: relative;}
.absolute {position: absolute;}
.fixed {position: fixed;}
.static {position: static;}
.sticky {position: sticky;}
.nopos {position: initial;}

/* No */
.noLink {color: inherit;text-decoration: none;}
.noList {list-style: none;}

/* List Decoration */
.listCircle {list-style: circle;}
.listNumber {list-style: decimal;}
.listSquare {list-style: square;}

/* Border Style */
.borderDashed {border-style: dashed}
.borderDotted {border-style: dotted}
.borderGroove {border-style: groove}
.borderSolid {border-style: solid}
.borderHidden {border-style: hidden}
.borderNone {border-style: none}
.borderRadius {border-radius: 10px;}

/* Text Decoration */
.textDashed {text-decoration: dashed;}
.textDotted {text-decoration: dotted;}
.textStriked {text-decoration: line-through;}
.textOverline {text-decoration: overline;}
.textUnderline {text-decoration: underline;}
.textWavy {text-decoration: wavy;}
.textNone {text-decoration: none;}
/* Text Align */
.textLeft {text-align: left;}
.textRight {text-align: right;}
.textCenter {text-align: center;}
/* Text Transform */
.textCapitalize {text-transform: capitalize}
.textUpper {text-transform: uppercase}
.textLower {text-transform: lowercase}

/* Font Size */
.fontLarge {font-size: large;}
.fontXLarge {font-size: x-large;}
.fontXXLarge {font-size: xx-large;}
.fontSmall {font-size: small;}
.fontXSmall {font-size: x-small;}
.fontXXSmall {font-size: xx-small;}
/* Font Style */
.fontItalic {font-style: italic}
.fontNormal {font-style: normal;}
/* Font Weight */
.fontBold {font-weight: bold;}
.fontLight {font-weight: 300;}
.fontMedium {font-weight: 500;}
.fontSemiBold {font-weight: 600;}
.fontExtraBold {font-weight: 800;}

/* Colors */
.colorRed{color: red;}.colorBlue{color: blue;}.colorYellow{color: yellow;}.colorGreen{color: green;}.colorOrange{color: orange;}.colorViolet{color: violet;}
.colorOrangered{color: orangered;}.colorYellowgreen{color: yellowgreen;}.colorBlueviolet{color: blueviolet;}
.colorWhite{color: white;}.colorBlack{color: black;}.colorGray{color: gray;}.colorDgray{color: darkgray;}
.colorDred{color: darkred;}.colorDblue{color: darkblue;}.colorDyellow{color: darkgoldenrod;}.colorDgreen{color: darkgreen;}.colorDorange{color: darkorange;}.colorDviolet{color: darkviolet;}

/* Background Color */
.bgRed{background: red;}.bg-blue{background: blue;}.bg-Yellow{background: yellow;}.bgGreen{background: green;}.bgOrange{background: orange;}.bgViolet{background: violet;}
.bgOrangered{background: orangered;}.bgYellowgreen{background: yellowgreen;}.bgBlueviolet{background: blueviolet;}
.bgWhite{background: white;}.bgBlack{background: black;}.bgGray{background: gray;}.bg-dgray{background: darkgray;}
.bgDred{background: darkred;}.bgDblue{background: darkblue;}.bgDyellow{background: darkgoldenrod;}.bgDgreen{background: darkgreen;}.bgDorange{background: darkorange;}.bgDviolet{background: darkviolet;}

/* Cursor */
.cursorPointer:hover {cursor: pointer;}
.cursorText:hover {cursor: text;}
.cursorMove:hover {cursor: move;}

/* Overflow */
.overflowXAuto {overflow-x: auto;}
.overflowYAuto {overflow-y: auto;}

/* Z-Index */
.z0 {z-index: 0;}
.z10 {z-index: 10;}
.z20 {z-index: 20;}
.z30 {z-index: 30;}
.z40 {z-index: 40;}
.z50 {z-index: 50;}

/* Width and Height */
.wFull {width: 100%;}
.wScreen {width: max-content;}
.hFull {height: 100%;}
.hScreen {height: max-content;}
/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./components/website.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
/* NAV */
.nav {
    position: sticky;
    top: 20px;
    margin: 20px;
    border-radius: 10px;
    border-color: var(--foreground2);
    border-width: 1px;
    border-style: solid;
    width: min-content;
    backdrop-filter: blur(10px);
}
.nav > .navItem {
    padding: 5px;
    margin: 10px;
}
.nav > .navItem > .side {
    transition: 0.3s ease;
}
.nav > .navItem:hover > .side {
    padding: 0 10px;
}

/* HERO */
.hero {
    height: 400px;
}


/* CARDS */

/* tool card*/
.toolCard {
    width: 140px;
    background: transparent;
    border-radius: 10px;
    border-color: var(--foreground2);
    border-width: 1px;
    border-style: solid;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    cursor: default;
    transition: 0.2s ease;
}
.toolCard:hover {
    border-color: var(--foreground);
    box-shadow: 2px 2px 2px 2px var(--foreground);
}
.toolCard > .title {
    color: var(--foreground2);
}

/* project card */
.projectCard {
    width: 550px;
    height: 200px;
    border-radius: 10px;
    border-color: var(--foreground2);
    border-width: 1px;
    border-style: solid;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    transition: 0.2s ease;
    cursor: default;
}
.projectCard:hover {
    border-color: var(--foreground);
    padding: 0 25px;
}
.projectCard > .pcardSection {
    padding: 2px;
    transition: 0.2s ease;
}
.projectCard:hover > .pcardSection {
    filter: blur(2px);
}
.projectCard > #mores {
    transition: 0.2s ease;
}
.projectCard:hover > #mores {
    display: flex;
}
.projectCard > #mores > .moreLink {
    border-radius: 10px;
    border-color: var(--foreground2);
    border-width: 1px;
    border-style: solid;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

/* FOOTER */
.footer {
    padding: 10px;
    font-size: 20px;
    color: var(--foreground2);
    border-top: 1px solid var(--foreground2);
}
.goto {
    padding: 9px;
}
.goto:hover {
    color: var(--foreground);
}

/* PAGE */
.page > .pageSection {
    padding: 30px;
}
