/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./app/exclude/Native.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
/* NAV */
.Native_nav__30ASC {
    background-color: rgb(15, 15, 15);
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 100%;
    position: relative;
    z-index: 100;
    border-radius: 0 0 200px 200px;
    transition: 0.2s ease;
}
.Native_nav__30ASC:hover {
    transform: scale(1.05);
    box-shadow: red 0 5px 15px;
}
.Native_nav__30ASC > .Native_header__erFGw {
    font-size: 30px;
    align-items: center;
}
.Native_nav__30ASC > .Native_header__erFGw > .Native_tab__X7EGu {
    margin: 15px;
    cursor: pointer;
    height: 3rem;
    width: 9rem;
    position: relative;
    color: darkred;
    transition: 0.5s ease;
}

.Native_nav__30ASC > .Native_header__erFGw > .Native_tab__X7EGu:hover {
    color: red;
}

.Native_tab__X7EGu::before, .Native_tab__X7EGu::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    color: darkred;
    border: 3px solid darkred;
    transition: 0.5s ease;
}
.Native_tab__X7EGu::before {
    left: -10px;
    top: -10px;
    border-width: 3px 0 0 3px;
}
.Native_tab__X7EGu::after {
    right: -10px;
    bottom: -10px;
    border-width: 0 3px 3px 0;
}
.Native_tab__X7EGu:hover::before, .Native_tab__X7EGu:hover::after {
    width: calc(100% + 17px);
    height: calc(100% + 17px);
    border-color: red;
}

/* FOOTER */
.Native_footer__aM0Do {
    background-color: rgb(15, 15, 15);
    color: red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px;
    font-size: 20px;
    transition: 0.5s ease;
    position: relative;
}
.Native_footer__aM0Do:hover {
    transform: scale(1.05);
    box-shadow: red 5px 0px 15px;
}
.Native_footer__aM0Do > .Native_space__3cO59 {
    margin: 0 100px;
}
.Native_goto__WH9p_ {
    border-radius: 100%;
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
}

/* HERO */
.Native_hero__eaR1F {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 1000px;
}

/* CARD */
.Native_cardHolder__k91ma {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.Native_card__tkdiP {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    max-width: 400px;
    min-width: 200px;
    background: whitesmoke;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 5px 15px;
    overflow: hidden;
    font-size: 20px;
    transition: 0.15s ease;
    margin: 5px;
    padding: 10px;
    cursor: default;
}
.Native_card__tkdiP:hover {
    transform: scale(1.5) rotate(1.5deg);
    background: rgb(15, 15, 15);
    box-shadow: red 0 5px 15px;
}
